<div class="container">
<h1>Az antikvárium története</h1>
<p>Az antikváriumot 1901-ben alapították, még az Osztrák–Magyar Monarchia idején. Magát az épületet többször újjá kellet építeni, ez azonban lehetőséget adott a megújításra, korszerűsítésre.</p>
<p>A jelenlegi épület 2019-ben lett felújítva.</p>


<h2>Hírességek, akik itt jártak</h2>
<div class="row">
<div class="col-sm-4">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
        <h3>Ady Endre</h3>
        <p class="card-text">Többször is kikölcsönözte Deák Ferenc műveit</p>
        <a href="https://hu.wikipedia.org/wiki/Ady_Endre">Wikipédia</a>
        </div>
      </div>    
</div>
<div class="col-sm-4">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h3>Móra Ferenc</h3>
            <p>Az Én Újságom c. gyermeklapba írt művei közül 50-nek a kéziratát az antikváriumnak adományozta</p>
            <a type="url" href="https://hu.wikipedia.org/wiki/Móra_Ferenc">Wikipédia</a>
        </div>
      </div>
</div>
<div class="col-sm-4">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h3>Névtelen adományozó</h3>
            <p>1992-ben 500 000 Ft-tal támogatta az antikvárium működését</p>
        </div>
      </div>
</div>
</div>
  
<form>
    <div style="display: block;">
      <h2>Új híresség jelzése</h2>
    </div>
    <div style="display: block;">
      <label>Wikipédia link</label>
    </div>
    <div style="display: block;">
        <input type="url" class="w-100"/>
      </div>
    <div style="display: block;">
      <label>Leírás</label>
    </div>
    <div style="display: block;">
        <textarea class="w-100"></textarea>
      </div>
    <div style="display: block;">
      <button type=submit class="btn btn-primary">Elküld</button>
    </div>
  </form>

</div>
